
.chroma_edit_box{
   background-color: rgb(47, 47, 47);
   overflow: auto;
}

   .chroma_freq_section{
      height: 80%;
   }
   .chroma_freq_box{
      background-color: rgb(59, 59, 59);
   }
      .chroma_freq_label{
         height: 15%;
         width: 100%;
         font-size: 19px;
         text-align: center;
      }
      .chroma_freq_graph_section{
         height: 55%;
      }
         .chroma_freq_graph{
            border-radius: var(--border-radius);
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
         }
      .chroma_freq_controls_section{
         padding: 10px;
         height: 30%;
      }
         .chroma_freq_range_knob_section{
            width: 50%;
         }
         .chroma_freq_coeff_knob_section{
            width: 50%;
         }

   .chroma_vol_section{
      height: 80%;
   }
   .chroma_vol_box{
      background-color: rgb(59, 59, 59);
   }
      .chroma_vol_label{
         height: 15%;
         width: 100%;
         font-size: 19px;
         text-align: center;
      }
      .chroma_vol_graph_section{
         height: 55%;
      }
         .chroma_vol_graph{
            border-radius: var(--border-radius);
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
         }
      .chroma_vol_controls_section{
         height: 30%;
         padding: 10px;
      }
         .chroma_vol_range_knob_section{
            width: 33.33333%;
         }
         .chroma_vol_coeff_knob_section{
            width: 33.33333%;
         }
         .chroma_vol_amount_knob_section{
            width: 33.33333%;
         }
