
/*Choose*/
.choose_item{
	width: 100%;
	height: 100%;
	background-color: inherit;
	text-align: center;
	color: white;
}

.vol_edit_box .choose_item{
	background-color: inherit;
}
.vol_edit_box .choose_item:hover{
	background-color: rgb(18, 60, 109);
}
.vol_edit_box .choose_item.active{
	background-color: rgb(11, 112, 196);
}
.vol_edit_box .choose_box{
	padding: 0;
	background-color: rgb(16, 46, 92);
}


/*Knobs*/
.knob_section{
   width: 100%;
	height: 100%;
	padding: 20px;
}
.knob_section .knob{
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}
