
/*Choose*/
.choose_item{
	width: 100%;
	height: 100%;
	background-color: inherit;
	text-align: center;
	color: white;
}

.vol_edit_box .choose_item{
	background-color: inherit;
}
.vol_edit_box .choose_item:hover{
	background-color: var(--blue-2);
}
.vol_edit_box .choose_item.active{
	background-color: var(--blue-3);
}
.vol_edit_box .choose_box{
	padding: 0;
	background-color: var(--blue-1);
}

.freq_edit_box .choose_item{
	background-color: inherit;
}
.freq_edit_box .choose_item:hover{
	background-color: var(--green-2);
}
.freq_edit_box .choose_item.active{
	background-color: var(--green-3);
}
.freq_edit_box .choose_box{
	padding: 0;
	background-color: var(--green-1);
}

/*Knobs*/
.knob_section{
   width: 100%;
	height: 100%;
	padding: 20px;
}
.knob_section .knob{
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}
