/*Variables*/

:root {
	/*Greyscale*/
	--greyscale-0: black;
	--greyscale-1: #111111;
	--greyscale-1-5: #1b1b1b;
	--greyscale-2: #222222;
	--greyscale-3: #414141;
	--greyscale-4: #444444;
	--greyscale-5: #555555;
	--greyscale-6: #666666;
	--greyscale-6-5: #6d6d6d;
	--greyscale-7: #777777;
	--greyscale-8: #888888;
	--greyscale-8-5: #8d8d8d;
	--greyscale-9: #999999;
	--greyscale-10: #aaaaaa;
	--greyscale-11: #bbbbbb;
	--greyscale-12: #cccccc;
	--greyscale-13: #dddddd;
	--greyscale-14: #eeeeee;
	--greyscale-15: white;

	/*General*/
	--border-radius: 12px;
	--padding: 2px;

	/*Heights*/
	--sms-section-height: 20%;
	--solo-height: 30%;
	--mute-height: 30%;
	--select-height: 40%;
	--visualizer-height: 30%;
	--editor-height: 50%;
	--editor-select-row-height: 10%;
	--editor-visualizer-height: 50%;
	--editor-settings-height: 40%;

	/*Colors*/
	--green-1: #0c2f00;
	--green-2: #0d7200;
	--green-3: #189400;
	--green-4: #21dd00;

	--red-1: #410000;
	--red-2: #7e0000;
	--red-3: #ab0000;
	--red-4: #c40000;

	--blue-1: #00173e;
	--blue-2: #002b75;
	--blue-3: #0044ba;
	--blue-4: #005cf3;
}


*{
	float: left;
	box-sizing: border-box;
	user-select: none;
	-webkit-user-drag: none;

	/*Font*/
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 13px;
	letter-spacing: 0px;
	word-spacing: 0px;
	color: var(--greyscale-14);
	font-weight: 400;

	position: relative;
}
body{
	margin: 0;
	background: var(--greyscale-0);
}

button, select, option{
	border-radius: var(--border-radius);
	outline: none;
	border: none;
}
button{
	background-color: inherit;
   height: 100%;
	width: 100%;
	cursor: pointer;
}

.fake_button, .param_label, .param_value{
	cursor: default !important;
}

/* width */
::-webkit-scrollbar {
	width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #434343;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #737373;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #868686;
}


.hidden{
   display:none;
}
.unclickable{
   color: rgb(117, 117, 117) !important;
}


.box{
	width: 100%;
	height: 100%;
	border-radius: var(--border-radius);
	padding: var(--padding);
}
.section{
	width: 100%;
	height: 100%;
	padding: var(--padding);
	border-radius: var(--border-radius);
}
   .section_label{
      height: 20%;
      width: 100%;
		text-align: center;
		font-style: italic;
	   color: #cccccc;
   }
   .section_content{
      height: 80%;
      width: 100%;
      border-radius: var(--border-radius);
   }
.param_label{
    height: 15%;
    width: 100%;
    text-align: center;
	font-style: italic;
}
.param_content{
   height: 65%;
   width: 100%;
   padding: 6px;
}
.param_value{
	text-align: center;
	width: 100%;
	height: 20%;
}



.slider_section{
	padding: 10px;
	width: 100%;
	height: 100%;
}
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 25px;
	background: #5b5b5b;
	outline: none;
	border-radius: 50px;
	border: solid 3px black;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background: #cbcbcb;
	cursor: pointer;
	border-radius: 50px;
}
.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	background: #cbcbcb;
	cursor: pointer;
	border-radius: 50px;
}



.start_button{
	background-color: var(--greyscale-3);
	position: relative;
	height: 60vh;
	width: 60vw;
	left: 20vw;
	top: 20vh;
	font-size: 200px;
}
.start_button:hover{
	background-color: var(--greyscale-6);
}

.app_section{
	position: absolute;
	left: 50vw;
	top: 50vh;
	height: 99vh;
	width: 99vw;
	transform: translate(-50%, -50%);
}
.app_box{
	padding: var(--padding);
	background-color: var(--greyscale-2);
}


   .left_bar_section{
	   width: 30%;
   }
   		.left_bar_top_section{
			height: 10%;
		}
		.left_bar_top_box{
			background-color: #1b1b1b;
		}
			.home_box{
				background-color: rgb(47, 47, 47);
			}
			.home_box button{
				position: absolute;
				left: 50%;
				transform: translate(-50%);
				font-size: large;
			}

				.vol_edit_button{
					height: 15%;
					width: 80%;
					top: 5%;
					background-color: var(--blue-2);
				}.vol_edit_button:hover{
					 background-color: var(--blue-3);
				 }
				.freq_edit_button{
					height: 15%;
					width: 80%;
					top: 25%;
					background-color: var(--green-2);
				}.freq_edit_button:hover{
					 background-color: var(--green-3);
				 }
				.dadj_edit_button{
					height: 15%;
					width: 80%;
					top: 45%;
					background-color: var(--red-2);
				}.dadj_edit_button:hover{
					 background-color: var(--red-3);
				 }
				.settings_button{
					height: 13%;
					width: 70%;
					top: 68%;
					background-color: var(--greyscale-6);
				}.settings_button:hover{
					 background-color: var(--greyscale-8);
				 }
				.help_button{
					height: 10%;
					width: 60%;
					top: 85%;
					background-color: var(--greyscale-6);
				}.help_button:hover{
					 background-color: var(--greyscale-8);
				 }

			.home_button_section{
				width: 25%;
			}
				.home_button{
					font-size: large;
					background-color: #323232;
				}
				.home_button:hover{
					background-color: #474747;
				}
			.left_bar_title_section{
				width: 75%;
				font-size: x-large;
			}
		.left_bar_content_section{
			height: 90%;
		}


   .main_section{
      width: 60%;
   }

      .zoom_section{
         height: 6%;
		}

		.rows_section{
			height: 11%;
			padding-left: 6px;
			padding-right: 4px;
		}
		.visual_section{
			height: 83%;
		}





   .right_bar_section{
      width: 10%;
   }
   