

   .zoom_controls_section{
      width: 100%;
      height: 6%;
   }
      .zoom_controls_box{
         background-color: rgb(95, 95, 95);
      }
      .zoom_controls_box .section{
         height: 100%;
         width: 25%;
         padding: 2px;
      }
      .zoom_controls_box button{
         width: 100%;
         height: 100%;
         background-color: rgb(165, 165, 165);
      }
      .zoom_controls_box button:hover{
         background-color: rgb(190, 190, 190);
      }
      .zoom_controls_box button img{
         position: relative;
         height: 80%;
         width: 80%;
         left: 40%;
         top: 40%;
         transform: translate(-40%, -40%);
      }

   .row_side_section{
      height: 11%;
      padding: 0;
   }
      .row_custom_selection_section{
         width: 50%;
      }
         .custom_selection_button{
            background-color: #6d6d6d;
         }
         .custom_selection_button.active{
            background-color: #a5a5a5;
         }
      .row_all_section{
         width: 50%;
         padding: 0;
      }
         .row_all_box button{
            background-color: #6d6d6d;
         }

   .visual_side_section{
      height: 83%;
   }
      .vol_visual_side_box{
         margin-top: 2px;
         height: 99%;
      }
      .freq_visual_side_box{
         margin-top: 2px;
         height: 99%;
      }