

   .zoom_controls_section{
      width: 100%;
      height: 6%;
   }
      .zoom_controls_box{
         background-color: rgb(55, 55, 55);
      }
      .zoom_controls_box .section{
         height: 100%;
         width: 25%;
         padding: 2px;
      }
      .zoom_controls_box button{
         width: 100%;
         height: 100%;
         background-color: rgb(102, 102, 102);
         padding: 5px;
      }
      .zoom_controls_box button:hover{
         background-color: rgb(121, 121, 121);
      }
      .zoom_controls_box button img{
         position: relative;
         height: auto;
         width: 100%;
         left: 50%;
         transform: translate(-50%);
      }

   .row_side_section{
      height: 11%;
      padding: 0;
   }
      .row_custom_selection_section{
         width: 30%;
      }
         .custom_selection_button{
            background-color: #515151;
         }
         .custom_selection_button:hover{
            background-color: #626262;
         }
         .custom_selection_button.active{
            background-color: #b0b0b0;
         }
            .custom_selection_button img{
               width: 100%;
               height: auto;
            }
      .row_all_section{
         width: 70%;
         padding: 0;
      }
         .row_all_box button{
            font-size: 12px;
         }
            .playback_all_button{
               background-color: #666666;
            }
            .playback_all_button:hover{
               background-color: #797979;
            }
            .vol_edit_all_button{
               background-color: var(--blue-2);
            }
            .vol_edit_all_button:hover{
               background-color: var(--blue-3);
            }
            .freq_edit_all_button{
               background-color: var(--green-2);
            }
            .freq_edit_all_button:hover{
               background-color: var(--green-3);
            }
            .chroma_edit_all_button{
               background-color: var(--red-2);
            }
            .chroma_edit_all_button:hover{
               background-color: var(--red-3);
            }

   .visual_side_section{
      height: 83%;
   }
      .vol_visual_label{
         height: 10%;
         width: 100%;
         text-align: right;
         color: #d0d0d0;
         font-size: 12px;
      }
      .vol_visual_side_box{
         top: 0.5%;
         height: 89%;
      }
      .freq_visual_label{
         height: 10%;
         width: 100%;
         text-align: right;
         color: #d0d0d0;
         font-size: 12px;
      }
      .freq_visual_side_box{
         top: 0.5%;
         height: 89%;
      }
