

   .zoom_controls_section{
      width: 100%;
      height: 5%;
   }
      .zoom_controls_box{
         background-color: rgb(95, 95, 95);
      }
      .zoom_controls_box .section{
         height: 100%;
         width: 25%;
         padding: 2px;
      }
      .zoom_controls_box button{
         width: 100%;
         height: 100%;
         background-color: rgb(165, 165, 165);
      }

   .scale_section{
      width: 100%;
      height: 20%;
   }
      .scale_box{
         background-color: rgb(148, 63, 148);
      }
   
   .row_all_section{
      width: 100%;
      height: 10%;
   }
      .row_all_box{
         background-color: rgb(107, 90, 90);
      }
   .help_window_section{
      width: 100%;
      height: 65%;
   }
      .help_window_box{
         background-color: rgb(63, 135, 148);
      }
