.row_item_section{
   padding: 2px;
}
.rows_section .row_item{
   height: 100%;
   width: 92%;
   transform: translate(4%, 0%);
}
   .row_playback_box{
      height: 25%;
   }
      .row_playback_item{
         background-color: var(--greyscale-3);
      }
      .row_playback_item.active{
         background-color: var(--greyscale-10);
         color: black;
      }
      .row_playback_item:hover{
         background-color: var(--greyscale-4);
      }
      .row_playback_item.active:hover{
         background-color: var(--greyscale-9);
      }
   .row_vol_edit_box{
      height: 25%;
   }
      .row_vol_edit_item{
         background-color: var(--blue-1);
      }
      .row_vol_edit_item.active{
         background-color: var(--blue-4);
      }
      .row_vol_edit_item:hover{
         background-color: var(--blue-2);
      }
      .row_vol_edit_item.active:hover{
         background-color: var(--blue-3);
      }
   .row_freq_edit_box{
      height: 25%;
   }
      .row_freq_edit_item{
         background-color: var(--green-1);
      }
      .row_freq_edit_item.active{
         background-color: var(--green-4);
      }
      .row_freq_edit_item:hover{
         background-color: var(--green-2);
      }
      .row_freq_edit_item.active:hover{
         background-color: var(--green-3);
      }
   .row_chroma_edit_box{
      height: 25%;
   }
      .row_chroma_edit_item{
         background-color: var(--red-1);
      }
      .row_chroma_edit_item.active{
         background-color: var(--red-4);
      }
      .row_chroma_edit_item:hover{
         background-color: var(--red-2);
      }
      .row_chroma_edit_item.active:hover{
         background-color: var(--red-3);
      }
      