/*Visual*/

.visual_box{
   width: 100%;
   height: 100%;
   background-color: rgb(14, 14, 14);
}
   .visual_vol_box{
      padding: 2px;
   }
      .visual_vol_item_section{
         width: 7%;
         height: 100%;
         padding: 0;
      }
      .visual_vol_item_box{
         width: 90%;
         height: 100%;
         background-color: rgb(39, 39, 39);
         transform: translate(7.5%, 0%);
         padding-bottom: 7px;
         padding-top: 7px;
      }
         .vv_main_bar_section{
            width: 60%;
            height: 100%;
         }
            .vv_main_bar{
               width: 95%;
               height: 70%;/**/
               background-color: rgb(206, 206, 206);
               border-radius: 3px;
               left: 50%;
               top: 30%;/**/
               transform: translate(-50%, 0);
            }
         .vv_side_bar_section{
            width: 20%;
            height: 100%;
         }
            .vv_ve_side_bar{
               background-color: #1800ff;
               width: 95%;
               position: absolute;
            }
            .vv_dadj_side_bar{
               background-color: #ee0000;
               width: 95%;
               position: absolute;
            }

      
   .visual_freq_box{
      padding: 2px;
   }
      .visual_freq_item_section{
         width: 7%;
         height: 100%;
         padding: 0;
      }
      .visual_freq_item_box{
         width: 90%;
         height: 100%;
         background-color: rgb(39, 39, 39);
         transform: translate(7.5%, 0%);
         padding-bottom: 7px;
         padding-top: 7px;
      }
         .vf_main_bar_section{
            width: 60%;
            height: 100%;
         }
            .vf_main_bar{
               width: 95%;
               height: 70%;/**/
               background-color: rgb(206, 206, 206);
               border-radius: 3px;
               left: 50%;
               top: 30%;/**/
               transform: translate(-50%, 0);
            }
         .vf_side_bar_section{
            width: 20%;
            height: 100%;
         }
            .vf_fe_side_bar{
               background-color: #269200;
               width: 95%;
               position: absolute;
            }
            .vf_dadj_side_bar{
               background-color: #ee0000;
               width: 95%;
               position: absolute;
            }
