.vol_edit_box{
   background-color: rgb(56, 56, 56);
}
   .ve_controls_section{
      height: 60%;
   }
      .ve_metrics_section{
         width: 15%;
      }
      .ve_metrics_box{
         background-color: rgb(133, 133, 133);
         padding: 4px;
      }
         .ve_scale_section{
            width: 100%;
         }
            .ve_scale_choose_item{
               height: 50%;
            }
      .ve_shape_section{
         width: 45%;
      }
      .ve_shape_box{
         background-color: rgb(133, 133, 133);
         padding: 4px;
      }
         .ve_shape_choose_section{
            width: 25%;
         }
            .ve_shape_choose_item{
               height: 33.3333333%;
            }
         .ve_amount_knob_section{
            width: 25%;
         }
         .ve_center_knob_section{
            width: 25%;
         }
         .ve_width_knob_section{
            width: 25%;
         }

      .ve_random_section{
         width: 25%;
      }
      .ve_random_box{
         background-color: rgb(133, 133, 133);
         padding: 4px;
      }
      .ve_random_left{
         width: 60%;
         height: 100%;
      }
      .ve_random_right{
         width: 40%;
         height: 100%;
      }
      .ve_random_section .section{
         padding: 3px;
      }
      .ve_random_section_content{
         padding: 3px;
      }
         .ve_random_button_section{
            height: 50%;
         }
         .ve_random_button.active{
            background-color: tomato;
         }
         .ve_mirror_section{
            height: 50%;
         }

      .ve_save_section{
         width: 15%;
      }
      .ve_save_box{
         background-color: rgb(133, 133, 133);
         padding: 4px;
      }
         .ve_apply_button_section{
            height: 60%;
            padding: 6px;
         }
            .ve_apply_button{
               height: 100%;
               width: 100%;
            }
         .ve_reset_button_section{
            height: 40%;
            padding: 6px;
         }
            .ve_reset_button{
               height: 100%;
               width: 100%;
            }

   .ve_visual_section{
      width: 100%;
      height: 40%;
   }
   .ve_visual_box{
      background-color: rgb(44, 44, 44);
   }

