
.zoom_box{
   padding: 2px;
   background-color: rgb(14, 14, 14);
   border-radius: 5px;
}

   .zoom_prevs{
      width: 100%;
      height: 100%;
      padding: 1px;
   }
      .prev{
         height: 100%;
         width: 100%;
         border-radius: 3px;
      }
      .prev_section{
         padding: 1px;
         height: 100%;
      }
      .zoom_playback_prevs_box,
      .zoom_vol_edit_prevs_box,
      .zoom_freq_edit_prevs_box,
      .zoom_dadj_edit_prevs_box {
         width: 100%;
         height: 25%;
      }

      .zoom_playback_prev{
         background-color: var(--greyscale-3);
      }
      .zoom_playback_prev.active{
         background-color: var(--greyscale-8);
      }

      .zoom_vol_edit_prev{
         background-color: var(--blue-1);
      }
      .zoom_vol_edit_prev.active{
         background-color: var(--blue-3);
      }

      .zoom_freq_edit_prev{
         background-color: var(--green-1);
      }
      .zoom_freq_edit_prev.active{
         background-color: var(--green-3);
      }

      .zoom_dadj_edit_prev{
         background-color: var(--red-1);
      }
      .zoom_dadj_edit_prev.active{
         background-color: var(--red-3);
      }


      .zoom_slider{
         height: 100%;
         position: relative;
         top: -100%;
         border-radius: 5px;
         border: solid 2px rgb(231, 231, 231);
      }

