
.zoom_box{
   padding: 2px;
   background-color: rgb(48, 48, 48);
}
      
   .zoom_prevs{
      width: 100%;
      height: 100%;
      padding: 1px;
   }
      .prev{
         height: 100%;
         width: 100%;
         border-radius: 3px;
      }
      .prev_section{
         padding: 1px;
         height: 100%;
      }
      .zoom_playback_prevs_box,
      .zoom_vol_edit_prevs_box,
      .zoom_freq_edit_prevs_box,
      .zoom_dadj_edit_prevs_box {
         width: 100%;
         height: 25%;
      }

      .zoom_playback_prev{
         background-color: rgb(66, 66, 66);
      }
      .zoom_playback_prev.active{
         background-color: rgb(192, 192, 192);
      }

      .zoom_vol_edit_prev{
         background-color: rgb(16, 46, 92);
      }
      .zoom_vol_edit_prev.active{
         background-color: rgb(11, 112, 196);
      }

      .zoom_freq_edit_prev{
         background-color: rgb(16, 92, 29);
      }
      .zoom_freq_edit_prev.active{
         background-color: rgb(4, 205, 38);
      }

      .zoom_dadj_edit_prev{
         background-color: rgb(92, 34, 16);
      }
      .zoom_dadj_edit_prev.active{
         background-color: rgb(205, 51, 4);
      }


      .zoom_slider{
         height: 100%;
         position: relative;
         top: -100%;
         border-radius: 5px;
         border: solid 1px rgb(231, 231, 231);
      }

